boto3==1.5.20
celery[redis]==4.1.0
Django==2.0.1
django-admin-interface==0.5.9
django-annoying==0.10.4
django-celery-email==2.0.0
django-cors-headers==2.1.0
django-extensions==1.9.9
django-filter==2.0.0.dev1
django-mail-templated==2.6.5
-e git+https://github.com/PhilipGarnero/django-multiselectfield.git@2490e1c18fdcf127e214d6c6c70aab5800d9d5c3#egg=django_multiselectfield
django-rest-framework-social-oauth2==1.1.0
django-smuggler==0.8.0
django-storages==1.6.5
djangorestframework==3.7.7
gunicorn==19.7.1
ipython[notebook]==6.2.1
Markdown==2.6.11
mysqlclient==1.3.12
pillow==5.0.0
pycrypto==2.6.1
python-memcached==1.59
requests==2.18.4
unidecode==1.0.22
