django==1.6.5 #python web framework
django-annoying==0.7.9 #tools missing in django
django-pipeline==1.3.20 #compressor for js and css
-e git+https://github.com/PhilipGarnero/django-pipeline-compass.git#egg=django-pipeline-compass #sass compiler for pipeline
slimit==0.8.1 #js compressor for pipeline
cssmin==0.2.0 #css compressor for pipeline
django-dajax-ng==0.9.4 #use js code in python functions, use python functions in js code
django-dajaxice-ng==0.5.6 #complement of dajax
-e git+https://github.com/simonz05/django-tabs.git#egg=django-tabs #easy to use tabs
django-crispy-forms==1.4.0 #better look for forms
crispy-forms-foundation==0.2.4.1 #foundation support for crispy forms
python-memcached==1.53 #memory cache
djangorestframework==2.3.12 #serialization utility
MySQL-python==1.2.5 #mysqlDB
#django-celery==3.1.9 #django celery
#django-celery-with-redis==3.0 #django api for broker
#redis==2.9.1 #celery broker
gunicorn==18.0 #production server for mod_wsgi
flup==1.0.2 #production server for FastCGI
